@import '@/commonStyles.scss';

.quantity-button{
	// @include thick-border;
	width: fit-content;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	
	$verticle-padding: 4px;
	$border-radius:11px;

	&__text{
		padding: $verticle-padding 6px $verticle-padding 12px; 
		font-family: 'mExtraBold';
		font-size: 17px;
		@include thick-border;
		border-top-left-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
		border-right: none;
		background-color: $YELLOW;
	}
	&__icon-area{
		background-color: white;
		padding: $verticle-padding 6px; 
		@include thick-border;
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		border-left: none;
	}
	&:hover{
		cursor: pointer;
	}
}