@import '@/commonStyles';

.order-confirmation{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.card{
		overflow: hidden;
		@include roundered-corner-border;
		@include thick-border-bottom;
		background-color: $YELLOW;
		padding-top: 80px;
		width: 300px;
		display: flex;
		&__body{
			background-color: $WHITE;
			align-content: center;
			font-family: 'mExtraBold';
			font-size: 21px;
			padding:15px;
			img{
				float: right;
				margin-top:-40px;
			}
			P{
				margin-bottom: 20px;
				&:last-child{
					font-family: 'mMedium';
					font-size: 18px;
				}
				em{
					font-family: 'mExtraBold';
				}
			}
		}
		&__return-button{
			@include roundered-corner-border;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $BLACK;
			color:$WHITE;
			font-family: 'mExtraBold';
			margin-top: 26px;
			font-size: 18px;
			width: 300px;
			height: 50px;
		}
	}
}