@import '@/commonStyles.scss';

.page-wrapper{
	padding-top: 20px;
	margin-bottom: 50px;
}

.page-title{
	@include horizontal-edge-padding;
	font-family: 'mExtraBold';
	font-size:27px;
	margin-bottom: 10px;
}